body {
    padding: 0;
    margin: 0;
    background-color: dodgerblue;
    text-align: center;

}

h1 {
    font-size: 100px;
    font-family: Arial, monospace;
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 22px;
    font-family: Arial, monospace;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 22px;
    line-height: 40px;
    text-align: justify;
    margin: 40px;
    padding: 20px;
    font-family: Arial, monospace;

}

#space-img {
    width: 25%;
    height: 25%;
    border-radius: 100px;
}
